body {
    margin: 0;
    background: pink;
    text-align: center;
    font-family: 'Audiowide';
}

/* Global Tags */


/* Navigation */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px rgb(0,0,0,0.15);
}

nav img{
    width: 200px;
    cursor: pointer;

}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a{
    text-decoration: none;
    color:cornflowerblue;
    font-size: 16px;
    font-weight: 500;
}

nav .navigation ul li a:hover{
    color: cadetblue;
    transition: 0.3s ease;
}

/* Home */
#home {
    background-image: linear-gradient(rgba(9,5,54,0.3), rgb(5,4,46,0.7)), url("images/CAUFoto.jpg");
}